name: Unit Tests
on: [pull request]
jobs:
  tests:
    environment: Env
    runs-on: ubuntu-latest
    steps:
      - name: create .env
        env :
          var1: ${{secrets.var1}}
          var2: ${{secrets.var2}}
          var3: ${{secrets.var3}}

        run : |
          touch .env
          echo var1= ${{secrets.var1}} >> .env
          echo var2= ${{secrets.var2}} >> .env
          echo var3= ${{secrets.var3}} >> .env
          echo "test3"
          echo "URL is $var1" | sed 's/./& /g'
          echo "URL is $var2" | sed 's/./& /g'
          echo "URL is $var3" | sed 's/./& /g'

          