name: Unit Tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: create .env
        env :
          var1: ${{secrets.var1}}
          var2: ${{secrets.var2}}
          var3: ${{secrets.var3}}
        run : |
          touch .env
          echo var1= ${{secrets.var1}} >> .env
          echo var2= ${{secrets.var2}} >> .env
          echo var3= ${{secrets.var3}} >> .env

          cat .env
          echo "URL is $e1" | sed 's/./& /g'