name: Unit Tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    - if : always()
      name: create .env
      run : |
      touch .env
      echo var1= ${{secrets.var1}} >> .env
      echo var2= ${{secrets.var2}} >> .env
      echo var3= ${{secrets.var3}} >> .env

      cat .env
      ls
